.login-body {
  background-image: url('../../../assets/login-bg.jpg');
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 100%;
  height: 100%;
  padding-top: 150px;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  border: 1px rgba(255, 255, 255, 0.95) solid;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 5px;
}

.login-form h1 {text-align: center;}

.login-form h2 {text-align: center; color: #595959; font-size: 14px; font-weight: normal; margin-bottom: 30px;}


.login-form-button {
  width: 100%;
}
